*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Trebuchet MS";
}
/*Farbvariablen*/
:root{
    --backround-color: rgba(71,34,16,255);
    --light-brown-color: rgba(147,101,68,0.7);
    --card-color: rgba(96,47,32,255);
    --dark-brown-navbar: rgba(50,30,21,255);
    --dropshadow-color: rgba(147,101,68,255);

}
body{
    background-color: var(--backround-color);
}
/*menu*/
.icon-menu{
    filter: invert(100%);
}
.navbar-custom {
    /*background-color: rgba(76,34,18,255);*/
    background-color: var(--dark-brown-navbar);
;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}
.mainbackround{
    /*background-image: url("https://www.vecteezy.com/free-vector/cafe");*/
    background-image: url("../images/Industrial-01.jpg")!important;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*z-index: -1;*/
}
/*login*/
.row-login{
    /*background-color: rgba(255, 255, 255, 0.3);*/
    background-color: var(--light-brown-color);
    border-radius: 30px;
    box-shadow: 6px 6px 11px var(--dropshadow-color);
    color: white;
}
.login_btn{
    border: none;
    outline: none;
    width: 100%;
    background-color: var(--backround-color);
    color: white;
    font-weight: bold;
    border-radius: 20px;
}
.login_btn:hover{
    background-color: var(--dropshadow-color);
    border: transparent;
    color: white;
}
a{
    color: var(--backround-color);
}
a:hover{
    color: var(--light-brown-color);
    filter: brightness(120%);
}
#password{
    border-radius: 15px;
}
#username{
    border-radius: 15px;
}
/*profile card*/
.card {
    width: 700px;
    height: 700px;
    /*background-color: #efefef;*/
    background-color:var(--card-color);
    filter: brightness(110%);
    border-radius: 10px;
    border: none;
    box-shadow: 6px 6px 11px var(--dropshadow-color);
    cursor: pointer;
    transition: all 0.5s
}
.btn-backround{
    background-color: var(--dropshadow-color);
    height: 170px;
    width: 170px;
    border-radius: 50%;
}
.btn-backround:hover{
    background-color: var(--dark-brown-navbar);
    border-color: transparent;
}

.image{
    /*width: 680px;*/
    /*height: 680px;*/
    max-width: 100%;
    max-height: 100%;
}

.image img {
    transition: all 0.5s
}

.card:hover .image img{
    transform: scale(1.25)
}


.btn {
    /*    height: 140px;
        width: 140px;
        border-radius: 50%*/
}

.name {
    font-size: 30px;
    font-weight: bold;
    color: var(--dropshadow-color);
}

.profilename {
    font-size: 20px;
    font-weight: 600;
    color: white;
    border: none;
    /*background-color: transparent;*/
    background-color: rgba(147,101,68,0.1);
    border-radius: 20px;
}

.level {
    font-size: 18px;
    color: var(--dropshadow-color);
}

.points {
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.highscore {
    font-size: 18px;
    font-weight: 500;
    color: var(--dropshadow-color);
}

.edit_button {
    height: 45px;
    width: 155px;
    border-radius: 10px;
    border-color: transparent;
    background-color: var(--dropshadow-color);
    color: white;
    font-size: 17px
}

.edit_button:hover{
    background-color: var(--backround-color);
    border-color: transparent;
}

.text span {
    font-size: 18px;
    color: var(--backround-color);
    font-weight: 500
}

.icons i {
    font-size: 19px
}

hr .new1 {
    border: 1px solid
}

.join {
    font-size: 14px;
    color: rosybrown;
    font-weight: bold
}

.date {
    background-color: var(--backround-color);
}

.icons i:hover .hr .new1:hover .join:hover .date:hover .text span:hover{
    cursor: text;
}

/*styling list highscores*/
.scorebox{
    width: 1200px;
    /*background-color: rgba(147,101,68,0.7);*/
    background-color: var(--card-color);
    filter: brightness(110%);
    border-radius: 10px;
    border: none;
    box-shadow: 6px 6px 11px var(--dropshadow-color);
    cursor: pointer;
    transition: all 0.5s
}

.pointSpan{
    float: right;
    margin-right: 60px;
    color: var(--dropshadow-color);
    /*color: rgba(71,34,16,255);*/
    font-weight: bold;
    filter: brightness(140%);

}
.nameSpan{
    /*float: left;*/
    margin-left: 60px;
    color: var(--dropshadow-color);
    filter: brightness(140%);
}

.list{
    width: 100%;
}
.listrow {
    border-top: 1px solid var(--backround-color);
}

.highscoreHeader{
    text-align-last: center;
    padding-top: 20px;
    padding-bottom: 10px;
    font-weight: bold;
    /*color: rgba(147,101,68,255);*/
    color: var(--dropshadow-color);
    filter: brightness(140%);
}

/*Choose Image*/
[type=radio]{
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}
/*Image Styles*/
[type=radio] + img{
    cursor: pointer;
}
/*Checked Styles*/
[type=radio]:checked + img{
    outline: 2px solid var(--dropshadow-color);
}
.avatar-images{
    border-radius: 50%;
}

/*modal*/
.modal-content{
    background-color: var(--card-color);
    color: white;
}
.modal-header{
    /*border-bottom-color: rgba(147,101,68,255);*/
    border-bottom-color: var(--light-brown-color);
}
.modal-footer{
    /*border-top-color: rgba(147,101,68,255);*/
    border-bottom-color: var(--light-brown-color);
}
.savebutton{
    /*background-color: rgba(147,101,68,255);*/
    background-color: var(--light-brown-color);
    filter: brightness(110%);
    color: white;
}
.savebutton:hover{
    background-color: var(--dark-brown-navbar);
    color: white;
    border-color: transparent;
}
.savebutton:focus{
    background-color: var(--dark-brown-navbar);
    color: white;
    border-color: transparent;
}
.closebutton-bottom{
    color: white;
    background-color: var(--dark-brown-navbar);
}
.closebutton-bottom:hover{
    background-color: saddlebrown;
    color: white;
    border-color: transparent;
}
.closebutton-bottom:focus{

}

/*home layover*/

/*Game*/

#level1-game-body{
    width: 100%;
    height: 100vh;
}

.font-game{
    color: white;
    background-color: var(--card-color);
    border-radius: 10px;
}


#ingredients{
    max-width: 100%;
}
.ingredient-box{
    height: 100vh;
}

.row-game {
    background-color: var(--card-color);
    border-radius: 10px;
    border: none;
    box-shadow: 6px 6px 11px px var(--dropshadow-color);
    color: white;
}

.backround-ingredients{
    background-color: var(--card-color);
    filter: brightness(110%);
    border-radius: 20px;
}


#ingredients img {
    width: 90%;
    height: 90%;
    margin: 10px;
    border: transparent;
    transition: transform .2s;

}

#ingredients img:hover {
    cursor: pointer;
    transform: scale(1.1);
}

#submit_btn{
    background-color: var(--dark-brown-navbar);
    border: 0.5px solid var(--dark-brown-navbar);
    width: 200px;
    color: wheat;
}
#coffee-mug{
    width: 100%;
    height: 100%;
}

/*
.dropzone {
    border: dashed 4px transparent;
    border-radius: 4px;
    margin: 10px auto 30px;
    padding: 10px;

    transition: background-color 0.3s;
}

.drop-active {
    border-color: #aaa;
}

.drop-target{
    background-color: #29e;
    border-color: #fff;
    border-style: solid;
}

.drag-drop {
    color: #fff;
    border: solid 2px #fff;
    transform: translate(0px,0px);
    transition: background-color 0.3s;
}
*/

/*progressbar*/
.progress-game{
    background-color: var(--backround-color);
    /*color: */
}
.progress-shown{
    background-color: var(--card-color);
}
/*draggable img*/


/*memory game*/

/*modal*/
.modal-content{
    background-color: rgba(96,47,32,255);
    color: white;
}
.modal-header{
    border-bottom-color: rgba(147,101,68,255);
}
.modal-footer{
    border-top-color: rgba(147,101,68,255);
}
.savebutton{
    background-color: rgba(147,101,68,255);
    color: white;
}
.savebutton:hover{
    background-color: rgba(50,30,21,255);
    color: white;
    border-color: transparent;
}
.savebutton:focus{
    background-color: rgba(50,30,21,255);
    color: white;
    border-color: transparent;
}
.closebutton-bottom{
    color: white;
    background-color: rgba(50,30,21,255);
}
.closebutton-bottom:hover{
    background-color: saddlebrown;
    color: white;
    border-color: transparent;
}
.closebutton-bottom:focus{

}

.coffeemachine:hover{
    transform: scale(1.25)
}
/*Memory Game*/
.grid{
    display: flex;
    flex-wrap: wrap;
    height: 600px;
    width: 800px;
}
.result{
    align-items: center;
    color: white;
}

/* Money/Coffee-Beans in Menu Bar*/
#coffee-bean-money-icon{
    margin-right: 10px;
    margin-top: 15px;
}

#money{
    margin-right: 30px;
    font-size: 1.5rem;
    margin-top: 16px;
}

#plusForMoneyCounter{
    margin-top: 10px;
    margin-left: -20px;
    margin-right: 10px;
}

#money-counter{
    margin-left: -3px;
}

