*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Trebuchet MS";
}
/*Farbvariablen*/
:root{
    --backround-color: rgba(71,34,16,255);
    --light-brown-color: rgba(147,101,68,0.7);
    --card-color: rgba(96,47,32,255);
    --dark-brown-navbar: rgba(50,30,21,255);
    --dropshadow-color: rgba(147,101,68,255);

}
body{
    background-color: var(--backround-color);
}
/*menu*/
.icon-menu{
    filter: invert(100%);
}
.navbar-custom {
    /*background-color: rgba(76,34,18,255);*/
    background-color: var(--dark-brown-navbar);
    height: 70px;
;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}

.mainbackround{
    /*background-image: url("https://www.vecteezy.com/free-vector/cafe");*/
    background-image: url("../images/Industrial-01.jpg")!important;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*z-index: -1;*/
}
/*login*/
.row-login{
    /*background-color: rgba(255, 255, 255, 0.3);*/
    background-color: var(--light-brown-color);
    border-radius: 30px;
    box-shadow: 0px 0px 20px var(--dropshadow-color);
    color: white;
}
.login_btn{
    border: none;
    outline: none;
    width: 100%;
    background-color: var(--backround-color);
    color: white;
    font-weight: bold;
    border-radius: 20px;
}
.login_btn:hover{
    background-color: var(--dropshadow-color);
    border: transparent;
    color: white;
}
a{
    color: var(--backround-color);
}
a:hover{
    color: var(--light-brown-color);
    filter: brightness(120%);
}
#password{
    border-radius: 15px;
}
#username{
    border-radius: 15px;
}
#email{
    border-radius: 15px;
}
#password2{
    border-radius: 15px;
}
/*profile card*/
.card {
    width: 700px;
    height: 700px;
    /*background-color: #efefef;*/
    background-color:var(--card-color);
    filter: brightness(110%);
    border-radius: 10px;
    border: none;
    box-shadow: 6px 6px 11px var(--dropshadow-color);
    cursor: pointer;
    transition: all 0.5s
}

.card-profile{
    width: 700px;
    height: 700px;
    /*background-color: #efefef;*/
    background-color:var(--card-color);
    filter: brightness(110%);
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 20px var(--dropshadow-color);
    cursor: pointer;
    transition: all 0.5s
}

.btn-backround{
    background-color: var(--dropshadow-color);
    height: 170px;
    width: 170px;
    border-radius: 50%;
}
.btn-backround:hover{
    background-color: var(--dark-brown-navbar);
    border-color: transparent;
}

.image{
    /*width: 680px;*/
    /*height: 680px;*/
    max-width: 100%;
    max-height: 100%;
}

.image img {
    transition: all 0.5s
}

.card:hover .image img{
    transform: scale(1.25)
}


.btn {
    /*    height: 140px;
        width: 140px;
        border-radius: 50%*/
}

.name, .friends {
    font-size: 30px;
    font-weight: bold;
    color: var(--dropshadow-color);
}

.profilename {
    font-size: 20px;
    font-weight: 600;
    color: white;
    border: none;
    /*background-color: transparent;*/
    background-color: rgba(147,101,68,0.1);
    border-radius: 20px;
}

.level {
    font-size: 18px;
    color: var(--dropshadow-color);
}

.points {
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.highscore {
    font-size: 18px;
    font-weight: 500;
    color: var(--dropshadow-color);
}

.edit_button {
    height: 45px;
    width: 155px;
    border-radius: 10px;
    border-color: transparent;
    background-color: var(--dropshadow-color);
    color: white;
    font-size: 17px
}

.edit_button:hover{
    background-color: var(--backround-color);
    border-color: transparent;
}

.text span {
    font-size: 18px;
    color: var(--backround-color);
    font-weight: 500
}

.icons i {
    font-size: 19px
}

hr .new1 {
    border: 1px solid
}

.join {
    font-size: 14px;
    color: rosybrown;
    font-weight: bold
}

.date {
    background-color: var(--backround-color);
}

.icons i:hover .hr .new1:hover .join:hover .date:hover .text span:hover{
    cursor: text;
}

/*styling list highscores*/
.scorebox{
    width: 1200px;
    /*background-color: rgba(147,101,68,0.7);*/
    background-color: var(--card-color);
    filter: brightness(110%);
    /*border-radius: 10px;*/
    /*border: 1px dashed var(--dropshadow-color);*/
    box-shadow: 0px 0px 20px var(--dropshadow-color);
    /*background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='%23936544FF' stroke-width='8' stroke-dasharray='8%2c 21' stroke-dashoffset='28' stroke-linecap='square'/%3e%3c/svg%3e");*/
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s
}

.pointSpan{
    float: right;
    margin-right: 60px;
    color: var(--dropshadow-color);
    /*color: rgba(71,34,16,255);*/
    font-weight: bold;
    filter: brightness(140%);

}
.nameSpan{
    /*float: left;*/
    margin-left: 60px;
    color: var(--dropshadow-color);
    filter: brightness(140%);
}

.highscorePodium{
    color: var(--dropshadow-color);
    filter: brightness(140%);
}

.list{
    width: 100%;
}
.listrow {
    border-top: 1px solid var(--backround-color);
}

.highscoreHeader{
    text-align-last: center;
    padding-top: 20px;
    padding-bottom: 10px;
    font-weight: bold;
    /*color: rgba(147,101,68,255);*/
    color: var(--dropshadow-color);
    filter: brightness(140%);
}

/*Choose Image*/
[type=radio]{
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}
/*Image Styles*/
[type=radio] + img{
    cursor: pointer;
}
/*Checked Styles*/
[type=radio]:checked + img{
    outline: 2px solid var(--dropshadow-color);
}
.avatar-images{
    border-radius: 50%;
}

/*modal*/
.modal-content{
    background-color: var(--card-color);
    color: white;
}
.modal-header{
    /*border-bottom-color: rgba(147,101,68,255);*/
    border-bottom-color: var(--light-brown-color);
}
.modal-footer{
    /*border-top-color: rgba(147,101,68,255);*/
    border-bottom-color: var(--light-brown-color);
}
.savebutton{
    /*background-color: rgba(147,101,68,255);*/
    background-color: var(--light-brown-color);
    filter: brightness(110%);
    color: white;
}
.savebutton:hover{
    background-color: var(--dark-brown-navbar);
    color: white;
    border-color: transparent;
}
.savebutton:focus{
    background-color: var(--dark-brown-navbar);
    color: white;
    border-color: transparent;
}
.closebutton-bottom{
    color: white;
    background-color: var(--dark-brown-navbar);
}
.closebutton-bottom:hover{
    background-color: saddlebrown;
    color: white;
    border-color: transparent;
}

.modal-dialog{
    position: relative;
    display: table; /* This is important */
    overflow-y: auto;
    overflow-x: auto;
    width: auto;
    min-width: 300px;
}
/*home layover*/

/*Game*/

#level1-game-body{
    width: 100%;
    height: 100vh;
}

.font-game{
    color: white;
    background-color: var(--card-color);
    border-radius: 10px;
}


#ingredients{
    max-width: 100%;
}
.ingredient-box{
    height: 100vh;
}

.row-game {
    background-color: var(--card-color);
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 20px px var(--dropshadow-color);
    color: white;
}

.backround-ingredients{
    background-color: var(--card-color);
    filter: brightness(110%);
    border-radius: 20px;
}


#ingredients img {
    width: 90%;
    height: 90%;
    margin: 10px;
    border: transparent;
    transition: transform .2s;

}

#ingredients img:hover {
    cursor: pointer;
    transform: scale(1.1);
}

#submit_btn{
    background-color: var(--dark-brown-navbar);
    border: 0.5px solid var(--dark-brown-navbar);
    width: 200px;
    color: wheat;
}
#coffee-mug{
    width: 100%;
    height: 100%;
}

/*
.dropzone {
    border: dashed 4px transparent;
    border-radius: 4px;
    margin: 10px auto 30px;
    padding: 10px;

    transition: background-color 0.3s;
}

.drop-active {
    border-color: #aaa;
}

.drop-target{
    background-color: #29e;
    border-color: #fff;
    border-style: solid;
}

.drag-drop {
    color: #fff;
    border: solid 2px #fff;
    transform: translate(0px,0px);
    transition: background-color 0.3s;
}
*/

/*progressbar*/
.progress-game{
    background-color: var(--backround-color);
    /*color: */
}
.progress-shown{
    background-color: var(--card-color);
}
/*draggable img*/


/*memory game*/

/*modal*/
.modal-content{
    background-color: rgba(96,47,32,255);
    color: white;
}
.modal-header{
    border-bottom-color: rgba(147,101,68,255);
}
.modal-footer{
    border-top-color: rgba(147,101,68,255);
}
.savebutton{
    background-color: rgba(147,101,68,255);
    color: white;
}
.savebutton:hover{
    background-color: rgba(50,30,21,255);
    color: white;
    border-color: transparent;
}
.savebutton:focus{
    background-color: rgba(50,30,21,255);
    color: white;
    border-color: transparent;
}
.closebutton-bottom{
    color: white;
    background-color: rgba(50,30,21,255);
}
.closebutton-bottom:hover{
    background-color: saddlebrown;
    color: white;
    border-color: transparent;
}
.closebutton-bottom:focus{

}

.coffeemachine:hover{
    transform: scale(1.25)
}
/*Memory Game*/
.grid .gridShow{
    display: flex;
    flex-wrap: wrap;
    height: 600px;
    width: 800px;
}
.result{
    align-items: center;
    color: white;
}

/* Money/Coffee-Beans in Menu Bar*/
#coffee-bean-money-icon{
    margin-right: 10px;
    /*margin-top: 15px;*/
}

#money{
    margin-right: 20px;
    font-size: 1.5rem;
    margin-top: 16px;
}

#plusForMoneyCounter{
    margin-top: 10px;
    margin-left: -20px;
    margin-right: 10px;
}

#money-counter{
    margin-left: -3px;
}
/*cards dictionary*/
cardText{
    color: var(--dropshadow-color);
    font-size: x-large;
}
.card-body h2{
    color: var(--dropshadow-color);
    text-align: center;
}
.ingredient-text{
    color: var(--dark-brown-navbar);
    font-weight: bold;
}
.card-footer{
    background-color: rgba(50,30,21,0.3);
    margin: 10px 0px 10px 0px;
    border-radius: 10px;
}
.cardCoffee:hover{
    box-shadow: 0px 0px 20px var(--dropshadow-color);
    transition: all 0.3s ease;
}

.cardCoffee{
    border-radius: 10px;
}

.btn-toggle {
    background-color: var(--dropshadow-color);
    border: 0.5px solid var(--dropshadow-color);
    width: 350px;
    color: white;
    border-radius: 10px;
    align-self: center;
    padding: 4px 4px 4px 4px;
    margin-bottom: 10px;
}

.btn-toggle:hover{
    background-color: var(--light-brown-color);
    border: 0.5px solid var(--light-brown-color);

}

.collapse{
    box-sizing: border-box;
    cursor: pointer;
}
.card-group{
    box-sizing: content-box;
}
/*sehr tacky aber müsste sonst Daten server seitig preloaden, weil das ein Bug in Bootstrap ist*/
.cardCoffee{
    max-width: 33%;
}
/*main page*/

.btnDict{
    border-radius: 0.25rem;
    border-color: transparent;
    background-color: var(--dropshadow-color);
    color: white;
    font-size: 17px
}

.btnDict:hover{
    background-color: var(--backround-color);
    border-color: transparent;
}
.learnText{
    color: var(--dropshadow-color);
    filter: brightness(150%);
}
.subtitleLearn{
    color: var(--dropshadow-color);
}

/* Socials Page */
.form-control{
    margin-top: 5px;
    margin-left: 5px;
    border-color: var(--dropshadow-color);
    background-color: var(--dropshadow-color);
    color: white;
    float: left;
    width: 80%;
}

.form-control:focus{
    border-color: white;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 255, 255, 0.6);
    background-color: var(--dropshadow-color);
    color:white;
}

.form-control:focus::placeholder{
    color:rgba(255, 255, 255, 0.5);
}

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(255, 255, 255, 0.8);
    opacity: 1; /* Firefox */
}

.btn-search{
    margin-top: 5px;
    background-color: var(--card-color);
    color: white;
    border-color: var(--dark-brown-navbar);
}

.btn-search:hover{
    background-color: var(--dropshadow-color);
    color:white;
}

.btn-friend{
    width: 100%;
    text-align: left;
}

.btn-friend:hover{
    background-color: var(--card-color);
}

.btn-friend:focus{
    background-color: var(--dropshadow-color);
    border-color: white;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 255, 255, 0.6);
}

.socialsName{
    font-size: 30px;
}

.socialsAvatar{
    height: 45px;
    width: 45px;
    margin-left: -5px;
    float: left;
}

.avatar-background{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: var(--dropshadow-color);
    margin-right: 10px;
    float: left;
}

.socialsName{
    color: white;
    font-size: 20px;
    alignment: left;
}

.friendsRanking{
    color: rgba(255, 255, 255, 0.5);
    alignment:left;
}



.chat-content{
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    position: relative;
}

.select-friend{
    text-align: center;
}

.chat-history{
    display:none;
}

.search-friends{
    display:none;
}

.chat-header{
    background-color: var(--card-color);
    width: 100%;
    height: 80px;
    alignment: top;
    padding-top: 5px;
    padding-left: 5px;
}
.btn-show-profile{
    background-color: var(--dropshadow-color);
    color: white;
    float: right;
    margin-top: -20px;
    margin-right: 10px;
}

.btn-show-profile:hover{
    color: white;
    border-color: white;
}

.chat-input{
    background-color: var(--card-color);
    width: 100%;
    height: 80px;
    margin-bottom: 0px;
    position: absolute;
    bottom: 0;
    left: 0;
    display:block;
}

.btn-message{
    background-color: var(--backround-color);
    color:white;
}

.btn-message:hover{
    color:white;
    border-color:white;
}

.chat-messages{
    overflow-y: scroll;
}

.soci{
    overflow: hidden;
}

ul{
    list-style: none;
}

li{
    list-style: none;
}

.my-message{
    color:white;
    background-color: var(--dropshadow-color);
    position:relative;
    padding: 10px 15px;
    border-radius: 15px;
    max-width: 45%;
    height: fit-content;
    display: inline-block;
    float: right;
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.their-message{
    color:white;
    background-color: var(--card-color);
    position:relative;
    left: 5px;
    padding: 10px 15px;
    border-radius: 15px;
    max-width: 45%;
    height: fit-content;
    display: inline-block;
    float: left;
    margin-left: -10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#add-friend{
    color: white;
    background-color: var(--dropshadow-color);
    margin-top: 5%;
}

#user-found{
    background-color: var(--dark-brown-navbar);
    border-color: var(--dark-brown-navbar);
    color: white;
    width: 60%;
    margin-left: 5%;
    margin-top: 5%;
}
/*popover*/
.popover-header{
    color: white;
    background-color: rgba(71,34,16,85%);
    border-color: transparent;

}
.popover-body{
    color: white;
    background-color: var(--card-color);
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-color: transparent;
}
.popover{
    background-color: var(--card-color);
    -moz-border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    border-radius: 0.5rem;
    border-color: transparent;

}
/*tooltip*/
.tooltip{
    background-color: var(--card-color);
}
