@(title: String)(implicit assetsFinder: AssetsFinder)

<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Create account</title>
        <link rel="icon" type="image/png" href="@assetsFinder.path("images/coffee-favicon.png")">
        <link rel="stylesheet" href="@assetsFinder.path("stylesheets/bootstrap-4.6.1/bootstrap.min.css")" type="text/css">
        <link rel="stylesheet" href="@assetsFinder.path("stylesheets/style.css")" type="text/css">
        <script src="@assetsFinder.path("javascripts/jquery-3.5.1/jquery.slim.min.js")"></script>
        <script src="@assetsFinder.path("javascripts/bootstrap-4.6.1/bootstrap.bundle.min.js")"></script>
    </head>
    <body>
        <div class="container my-5">
            <div class="row row-login no-gutters">
                <div class="d-none d-lg-block col-5">
                    <img src="@assetsFinder.path("images/heisser-kaffee.png")" class="img-fluid pt-5" alt="Coffee Cup">
                </div>
                <div class="col-12 col-lg-7 px-5 py-5">
                    <h1 class="font-weight-bold py-3">Create your Account</h1>
                    <div class="form-group pt-3 pl-0 col-12 col-lg-9">
                        <div class="" role="alert" id="alert-auth">
                            <span id="alert-auth-message" class="text-brown"></span>
                        </div>
                        <div class="form-group m-0">
                            <label for="email">Enter your Email: </label>
                            <input type="email" placeholder="Email" id="email" class="form-control rounded-lg p-3 mb-2"/>
                            <div class="text-brown" id="email-error"></div>
                        </div>
                        <div class="form-group m-0">
                            <label class="mt-4" for="username">Choose a Username: </label>
                            <input type="text" placeholder="Username" id="username" class="form-control rounded-lg p-3" aria-describedby="usernameHelp"/>
                            <small id="usernameHelp" class="form-text text-white">
                                A username between 3 and 25 characters
                            </small>
                            <div class="text-brown" id="name-error"></div>
                        </div>
                        <div class="form-group m-0">
                            <label class="mt-4" for="password">Create Password: </label>
                            <input type="password" placeholder="Password" id="password" class="form-control rounded-lg p-3" aria-describedby="passwordHelp"/>
                            <small id="passwordHelp" class="form-text text-white">
                                The password should have at least eight characters, one lowercase letter, one uppercase letter, one digit and one special character.
                            </small>
                            <div class="text-brown" id="password-strength-error"></div>
                        </div>
                        <div class="form-group m-0">
                            <label class="mt-4" for="password2"> Repeat Password: </label>
                            <input type="password" placeholder="Repeat Password" id="password2" class="form-control rounded-lg p-3 mb-2"/>
                            <div class="text-brown" id="password-error"> </div>
                        </div>
                        <button type="button" class="btn btn-primary rounded-pill p-3 my-4 w-100" onclick="checkCreateAccount()" id="myBtn">
                            Create Account
                        </button>

                    </div>
                    <p>Already have an account? <a href='/'>Login</a></p>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="@assetsFinder.path("javascripts/login_register.js")"></script>
    </body>
</html>