@(page: String, money: String, level: Integer, ranking: Integer, ingredients: List[data.Ingredient])(implicit assetsFinder: AssetsFinder)

<!-- Navbar -->
@navbar("GameOne", money, level, ranking) {
    @* modal*@
    <div class="modal fade" id="ModalLearnCoffees" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header justify-content-center">
                    <h5 class="modal-title text-uppercase" id="modal-title">Level 1: Mix Coffees</h5>
                </div>
                <div class="modal-body modal-fade align-items-center justify-content-center">
                    <div class="container-fluid ms-2 row">
                        <div class="col">
                            <p>This is your first time mixing coffees? Don't you worry! We'll help you become the best Barista your boss has ever seen.</p>
                            <p>Before mixing your first coffee you should know what ingredients you need in order to mix it. This is your first game! It's easy, just drag and drop the ingredients on the left side into the Coffee mug on the right side and press submit.</p>
                            <p>If you don't know which ingredients need to go into your coffee you can use a joker:💡. This however means, that you won't get as many points as you would without the joker.</p>
                            <p>You have 3 tries per coffee! Save enough points to level-up and play the next level! Be aware that you'll only receive points after playing six Coffees in a row.</p>
                            <p>Have fun!🏆</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary rounded-pill px-3" data-dismiss="modal">
                        Ok let's go!</button>

                </div>
            </div>
        </div>
    </div>
    </div>
        <!--Game-->
    <div class="flex align-items-center">
        <section class="my-5">
            <div class="container justify-content-center">
                <div class="mh-100 row row-game col-lg-12 col-xs-5 mx-auto pb-3">
                    <div class="col-12">
                        <h1 class="font-game text-center pt-4" id="order" >Receiving Order!</h1>
                    </div>
                    <hr class="py-2 col-12">
                    <div class="col-lg-7 col-xs-3 col-md-5 backround-ingredients">
                        <div class="ingredient-div text-center">
                            <div id="ingredients" class="align-items-center justify-content-center p-2 h-75">
                                <div class="row justify-content-center align-items-center ingredient-box h-100 w-100">
                                @for(ingredient <- ingredients) {
                                    <div class="col-12 col-sm-3 col-lg-3 text-center py-4">
                                        <img src="/assets/images/Ingredients/@ingredient.getImgPath"
                                        alt="@ingredient.getName" class="drag-drop" id="@ingredient.getName">
                                    </div>
                                }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="px-3 text-center">
                        <div class="text-right">
                            <span class="text-left" id="remainingCoffeesTillFinished">
                                6 coffees left to mix until points are saved</span>
                            <span class="tooltipCoffee" data-toggle="tooltip" data-placement="left" data-html="true" title="<b><em>!ATTENTION!</em> YOU WON'T RECEIVE AS MANY POINTS IF YOU USE A TIP!</b>">
                                <a type="button" class="btn" data-toggle="modal" data-target="#exampleModalCenter" onclick="countHelps(false)">
                                    <img src="@assetsFinder.path("images/tipsIcon.svg")" alt="help">
                                </a>
                            </span>
                        </div>
                        <div class="justify-content-center">

                                <!-- Modal Tip-->
                            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalCenterTitle">
                                                Here is your tip</h5>
                                            <button type="button" class="close btn btn-danger tipButton" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">x</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="d-flex justify-content-center my-5">
                                                <div class="score-box px-5">
                                                    <div class="row card-group mx-0 d-flex justify-content-center">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary rounded-pill px-3" data-dismiss="modal">
                                                Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="dropzone" id="cup">
                            <img src="@assetsFinder.path("images/Ingredients/cup.svg")" class="img-fluid p-5" alt="coffe-mug" id="coffee-mug">
                        </div>

                        <div>
                            <button type="button" class="btn btn-primary rounded-pill p-3 mb-4 w-100" id="submitGame" onclick="submitGame()" >
                                submit
                            </button>
                            <button type="button" class="btn btn-primary rounded-pill p-3 mb-4 w-100" id="redoGame" onclick="redoGameOne()" style="display: none">
                                Play again
                            </button>
                            <button type="button" class="btn btn-primary rounded-pill p-3 mb-4 w-100" id="playNextGame" onclick="redirectToLvl2()" style="display: none">
                                Play next level
                            </button>
                        </div>
                        <p class="justify-content-center mb-4 small" id="remainingAttempts"> You have 3 attempts left </p>

                    </div>

                </div>
            </div>
        </section>
    </div>
    <script type="text/javascript" src="@assetsFinder.path("javascripts/coffees.js")"></script>
    <script type="text/javascript" src="@assetsFinder.path("javascripts/customers.js")"></script>
    <script type="text/javascript" src="@assetsFinder.path("javascripts/reusedFunctions.js")"></script>
    <script type="text/javascript" src="@assetsFinder.path("javascripts/game_mechanic.js")"></script>

    <script type="text/javascript" src="@assetsFinder.path("javascripts/main.js")"></script>
    <script type="text/javascript" src="@assetsFinder.path("javascripts/dictionary.js")"></script>
}



