@(page: String, money : String)(implicit assetsFinder: AssetsFinder)


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Dictionary</title>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="@assetsFinder.path("stylesheets/dictionary.css")">
    </head>
    <body onload="createDictionary()" style="overflow-y: scroll;">
@navbar("Dictionary", money){
    <div>
        <div class="d-flex justify-content-center m-4 p-4">
            <div class="scorebox col-md-6">
                <h1 class="highscoreHeader">Dictionary</h1>
                <div class="card-group">
                </div>
            </div>
        </div>
    </div>
@*    test*@
    <script type="text/javascript" src="@assetsFinder.path("javascripts/dictionary.js")"></script>
}
</body>
</html>