@(page: String, money : String, level: Integer, ranking: Integer)(implicit assetsFinder: AssetsFinder)

    <body onload="createDictionary()">
@navbar("Dictionary", money, level, ranking){
        <div class="d-flex justify-content-center my-5">
            <div class="score-box px-5">
                <h1 class="score-header py-5">Dictionary</h1>
                <div class="row card-group mx-0 d-flex justify-content-center">
                </div>
            </div>
        </div>
@*    test*@
    <script type="text/javascript" src="@assetsFinder.path("javascripts/dictionary.js")"></script>
}
