@(page: String, money : String)(implicit assetsFinder: AssetsFinder)
    @navbar("GameTwo",money) {
    @*            modal*@
        <div class="modal fade" id="gameModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal-title">Level 2: Remember who ordered which coffee!</h5>
                    </div>
                    <div class="modal-body modal-fade align-items-center justify-content-center">
                        <div class="container-fluid ms-2">
                            <div class="row w-100">
                                <div class="col-md-4 ml-auto">
                                    <div class="card w-100 h-auto" style="width: 18rem;">
                                        <img class="card-img-top" src="@assetsFinder.path("images/waiter.png")" alt="Card image cap">
                                        <div class="card-body">
                                            <p class="card-text">Capuccino</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 ml-auto">
                                    <div class="card w-100 h-auto" style="width: 18rem;">
                                        <img class="card-img-top" src="@assetsFinder.path("images/waiter.png")" alt="Card image cap">
                                        <div class="card-body">
                                            <p class="card-text">Capuccino</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 ml-auto">
                                    <div class="card w-100 h-auto" style="width: 18rem;">
                                        <img class="card-img-top" src="@assetsFinder.path("images/waiter.png")" alt="Card image cap">
                                        <div class="card-body">
                                            <p class="card-text">Capuccino</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row w-100">
                                <div class="col-md-4 ml-auto">
                                    <div class="card w-100 h-auto" style="width: 18rem;">
                                        <img class="card-img-top" src="@assetsFinder.path("images/waiter.png")" alt="Card image cap">
                                        <div class="card-body">
                                            <p class="card-text">Capuccino</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 ml-auto">
                                    <div class="card w-100 h-auto" style="width: 18rem;">
                                        <img class="card-img-top" src="@assetsFinder.path("images/waiter.png")" alt="Card image cap">
                                        <div class="card-body">
                                            <p class="card-text">Capuccino</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 ml-auto">
                                    <div class="card w-100 h-auto" style="width: 18rem;">
                                        <img class="card-img-top" src="@assetsFinder.path("images/waiter.png")" alt="Card image cap">
                                        <div class="card-body">
                                            <p class="card-text">Capuccino</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

            <!--game-level-2-->
            <!--Game-->
        <div class="flex align-items-center">
            <section class="my-4 mx-5">
                <div class="container-fluid">
                    <span><h1 class="font-weight-bold py-3 font-game text-center"
                    id="order">Please make an "AMERICANO"!</h1></span>
                    <div class="row row-game no-gutters px-3 py-4 align-items-center">
                        <div class="col-lg-7 backround-ingredients">
                            <div>
                                <div class="ingredient-div text-center w-100 h-100">
                                    <div id="ingredients" class="align-items-center justify-content-center p-2 h-75 ">
                                        <div class="row justify-content-center align-items-center ingredient-box h-100 w-100">
                                            <div class="col-12 col-sm-4 col-lg-4 text-center py-4">
                                                <img src="@assetsFinder.path("images/Ingredients/Milk_Foam.png")"
                                                alt="milkfoam" height="220" width="446" class="drag-drop" id="milkfoam">
                                            </div>
                                            <div class="col-12 col-sm-4 col-lg-4 text-center py-4">
                                                <img src="@assetsFinder.path("images/Ingredients/Steamed_Milk.png")"
                                                alt="steamedMilk" height="220" width="421" class="drag-drop"
                                                id="steamedMilk">
                                            </div>
                                            <div class="col-12 col-sm-4 col-lg-4 text-center py-4">
                                                <img src="@assetsFinder.path("images/Ingredients/Choclate_Syrup.png")"
                                                alt="chocolateSyrup" height="220" width="446" class="drag-drop"
                                                id="chocolateSyrup">
                                            </div>
                                            <div class="col-12 col-sm-4 col-lg-4 text-center py-4">
                                                <img src="@assetsFinder.path("images/Ingredients/Espresso.png")"
                                                alt="espresso" height="220" width="424" class="drag-drop" id="espresso">
                                            </div>
                                            <div class="col-12 col-sm-4 col-lg-4 text-center py-4">
                                                <img src="@assetsFinder.path("images/Ingredients/IceCream.png")"
                                                alt="iceCream" height="220" width="410" class=" drag-drop" id="iceCream">
                                            </div>
                                            <div class="col-12 col-sm-4 col-lg-4 text-center py-4">
                                                <img src="@assetsFinder.path("images/Ingredients/Brown_Sugar.png")"
                                                alt="brownSugar" height="220" width="458" class="drag-drop"
                                                id="brownSugar">
                                            </div>
                                            <div class="col-12 col-sm-4 col-lg-4 text-center py-4">
                                                <img src="@assetsFinder.path("images/Ingredients/White_Sugar.png")"
                                                alt="whiteSugar" height="220" width="456" class="drag-drop"
                                                id="whiteSugar">
                                            </div>
                                            <div class="col-12 col-sm-4 col-lg-4 text-center py-4">
                                                <img src="@assetsFinder.path("images/Ingredients/Hot_Water.png")"
                                                alt="hotWater" height="220" width="458" class="drag-drop" id="hotWater">
                                            </div>
                                            <div class="col-12 col-sm-4 col-lg-4 text-center py-4">
                                                <img src="@assetsFinder.path("images/Ingredients/Milk.png")"
                                                alt="milk" height="220" width="428" class="drag-drop" id="milk">
                                            </div>
                                            <div class="col-12 col-sm-4 col-lg-4 text-center">
                                                <img src="@assetsFinder.path("images/Ingredients/Brewed_Coffee.png")"
                                                alt="brewedCoffee" height="220" width="435" class="drag-drop"
                                                id="brewedCoffee">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 px-5 text-center">
                            <div class="dropzone" id="cup"><img
                            src="@assetsFinder.path("images/Ingredients/cofee_mug_left_and_right_same_space.png")"
                            class="img-fluid pt-5 pb-5" alt="coffe-mug" id="coffee-mug"></div>
                            <div class="">
                                <button type="button" class="login_btn mt-3 mb-5 p-4" id="submitGame" onclick="submitGame()">
                                    submit
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
        </div>
        <script type="text/javascript" src="@assetsFinder.path("javascripts/level2_g.js")"></script>

    }
