@(page: String, money: String, level: Integer, ranking: Integer, ingredients: List[data.Ingredient])(implicit assetsFinder: AssetsFinder)
    @navbar("GameLevelThree", money, level, ranking) {
        @* modal*@
        <div class="modal fade" id="gameModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal-title">Level 3: Remember who ordered which coffee!</h5>
@*                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">*@
@*                            <span aria-hidden="true">&times;</span>*@
@*                        </button>*@
                    </div>
                    <div class="modal-body modal-fade align-items-center justify-content-center">
                        <div class="container-fluid ms-2">
                            <div class="row w-100 m-0">
                            @for(index <- 0 until 6) {
                                <div class="col-md-4 mb-4 ml-auto">
                                    <div class="card w-100 h-auto cursor-normal" style="width: 18rem;">
                                        <img class="card-img-top px-4 pt-4" src="@assetsFinder.path("images/waiter.png")" alt="Card image cap">
                                        <div class="card-body">
                                            <h3 class="text-center card-title mt-3">Capuccino</h3>
                                        </div>
                                    </div>
                                </div>
                            }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*Game*@
        <div class="flex align-items-center">
            <section class="my-5">
                <div class="container justify-content-around justify-content-center">
                    <div class="mh-100 row row-game justify-content-around col-lg-12 col-xs-5 mx-auto pb-3">
                        <div class="col-12">
                            <h1 class="font-game text-center pt-4" id="order">Receiving Order!</h1>
                        </div>
                        <hr class="py-2 col-12">
                        <div class="col-lg-7 col-xs-3 col-md-5 backround-ingredients">
                            <div>
                                <div class="ingredient-div text-center">
                                    <div id="ingredients" class="align-items-center justify-content-center p-2 h-75">
                                        <div class="row justify-content-center align-items-center ingredient-box h-100 w-100">
                                        @for(ingredient <- ingredients) {
                                            <div class="col-12 col-sm-3 col-lg-3 text-center py-4">
                                                <img src="/assets/images/Ingredients/@ingredient.getImgPath"
                                                alt="@ingredient.getName" class="drag-drop" id="@ingredient.getName">
                                            </div>
                                        }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="px-3 text-center">
                            <div class="text-right">
                                <span class="text-left" id="remainingCoffeesTillFinished">
                                    6 coffees left to mix until points are saved</span>
                                <span class="tooltipCoffee" data-toggle="tooltip" data-placement="left" data-html="true" title="<b><em>!ATTENTION!</em> YOU WON'T RECEIVE AS MANY POINTS IF YOU USE A TIP!</b>">
                                    <a type="button" class="btn" data-toggle="modal" data-target="#exampleModalCenter" onclick="countHelps(false)">
                                        <img src="@assetsFinder.path("images/tipsIcon.svg")" alt="help">
                                    </a>
                                </span>
                            </div>
                            <div class="justify-content-center">

                                    <!-- Modal Tip-->
                                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalCenterTitle">
                                                    Here is your hint!</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="d-flex justify-content-center">
                                                    <div class="score-box px-5">
                                                        <div class="row card-group mx-0 d-flex justify-content-center">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-primary rounded-pill px-3" data-dismiss="modal">
                                                    Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="dropzone" id="cup"><img
                            src="@assetsFinder.path("images/Ingredients/cup.svg")"
                            class="img-fluid p-5" alt="coffe-mug" id="coffee-mug"></div>
                            <div class="d-flex justify-content-around mt-4">
                                <button type="button" class="btn btn-primary rounded-pill p-3 mb-4 w-100" id="submitGame" onclick="submitGame()">
                                    submit
                                </button>
                                <button type="button" class="btn btn-secondary rounded-pill p-3 mb-4 w-100" id="redoGame" onclick="loadLevelThree()" style="display: none">
                                    Play again
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
        </div>
        <script type="text/javascript" src="@assetsFinder.path("javascripts/reusedFunctions.js")"></script>
        <script type="text/javascript" src="@assetsFinder.path("javascripts/customers.js")"></script>
        <script type="text/javascript" src="@assetsFinder.path("javascripts/coffees.js")"></script>
        <script type="text/javascript" src="@assetsFinder.path("javascripts/game_mechanic.js")"></script>
        <script type="text/javascript" src="@assetsFinder.path("javascripts/reusedFunctions.js")"></script>
        <script type="text/javascript" src="@assetsFinder.path("javascripts/dictionary.js")"></script>


        <script type="text/javascript" src="@assetsFinder.path("javascripts/level2_g.js")"></script>


    }
