@(page: String, money: String, level: Integer, ranking: Integer)(implicit assetsFinder: AssetsFinder)

@navbar("GameThreeMemory", money, level, ranking) {
    @* modal*@
    <div class="modal fade" id="gameModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-title">Level 3: Remember who ordered which coffee!</h5>
                </div>
                <div class="modal-body modal-fade align-items-center justify-content-center">
                    <div class="container-fluid ms-2">
                        <div class="row w-100 m-0">
                        @for(index <- 0 until 6){
                            <div class="col-md-4 mb-4 ml-auto">
                                <div class="card w-100 h-auto cursor-normal" style="width: 18rem;">
                                    <img class="card-img-top px-4 pt-4" src="@assetsFinder.path("images/waiter.png")" alt="Card image cap">
                                    <div class="card-body">
                                        <h3 class="text-center card-title">Capuccino</h3>
                                    </div>
                                </div>
                            </div>
                        }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="flex d-flex align-items-center justify-content-center">
        <div class="col-lg-6 col-md-10 col-sm-12 mt-5 align-items-center justify-content-center">
            @*Popover*@
            <div>
                <h3 class="result mb-4 px-4 text-center">Score
                    <button type="button" class="btn example-popover p-0" data-toggle="popover" title="LEVEL 3: MEMORY"
                    data-content="Now that you know the ingredients of a few Coffees, let's practise remembering which customer ordered which coffee.<br/>
                    Try to match the people that you saw in the pop-up window a second ago to the Coffees they ordered!
                      <br/> The score here will be added to your total amount of points as soon as you have finished your memory.
                      <br/> Good luck ☘" data-placement="bottom" data-html="true">
                        <img src="@assetsFinder.path("images/help_white.svg")" alt="help">
                    </button>
                    : <span id="result"></span>
                </h3>

            </div>
@*            content memory*@
            <div>
                <div class="gridShow image-fluid align-items-center justify-content-center text-center parent"></div>
                <div class="grid image-fluid align-items-center justify-content-center text-center parent"></div>
            </div>
            <div class="justify-content-center text-center align-items-center">
                <button type="button" class="memoryRedoGame_btn mt-3 mb-5 p-4" id="redoGame" onclick="loadLevelTwoMemory()" style="display: none; border-color: #936544">
                    Play again
                </button>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="@assetsFinder.path("javascripts/reusedFunctions.js")"></script>
    <script type="text/javascript" src="@assetsFinder.path("javascripts/customers.js")"></script>
    <script type="text/javascript" src="@assetsFinder.path("javascripts/coffees.js")"></script>
@*    <script type="text/javascript" src="@assetsFinder.path("javascripts/level2_g.js")"></script>*@
    <script type="text/javascript" src="@assetsFinder.path("javascripts/level2_g_memory.js")"></script>
}
