@(page: String, money: String)(implicit assetsFinder: AssetsFinder)
@navbar("GameTwo", money) {
    @* modal*@
    <div class="modal fade" id="gameModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-title">Level 2: Remember who ordered which coffee!</h5>
                </div>
                <div class="modal-body modal-fade align-items-center justify-content-center">
                    <div class="container-fluid ms-2">
                        <div class="row w-100">
                            @for(index <- 0 until 6){
                                <div class="col-md-4 mb-4 ml-auto">
                                    <div class="card w-100 h-auto cursor-normal" style="width: 18rem;">
                                        <img class="card-img-top px-4 pt-4" src="@assetsFinder.path("images/waiter.png")" alt="Card image cap">
                                        <div class="card-body">
                                            <h3 class="text-center card-title">Capuccino</h3>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*Game*@
    <div class="flex align-items-center">
        <section class="my-3 mx-4 ">
            <div class="container justify-content-center">
                <div class="mh-100 row row-game  col-lg-10 col-xs-5 mx-auto">
                    <span><h1 class=" sticky-top font-weight-bold py-3 font-game text-center"
                    id="order" >Receiving Order!</h1></span>
                    <hr>
                    <div class="col-lg-7 col-xs-3 col-md-5 backround-ingredients">
                        <div>
                            <div class="ingredient-div text-center">
                                <div id="ingredients" class="align-items-center justify-content-center p-2 h-75">
                                    <div class="row justify-content-center align-items-center ingredient-box h-100 w-100">
                                        <div class="col-12 col-sm-3 col-lg-3 text-center py-4">
                                            <img src="@assetsFinder.path("images/Ingredients/coffee.svg")"
                                            alt="Coffee" class="drag-drop" id="Coffee">
                                        </div>
                                        <div class="col-12 col-sm-3 col-lg-3 text-center py-4">
                                            <img src="@assetsFinder.path("images/Ingredients/espresso.svg")"
                                            alt="Espresso" class="drag-drop" id="Espresso">
                                        </div>
                                        <div class="col-12 col-sm-3 col-lg-3 text-center py-4">
                                            <img src="@assetsFinder.path("images/Ingredients/foam.svg")"
                                            alt="Foam" class="drag-drop" id="Foam">
                                        </div>
                                        <div class="col-12 col-sm-3 col-lg-3 text-center py-4">
                                            <img src="@assetsFinder.path("images/Ingredients/milk.svg")"
                                            alt="Milk" class="drag-drop" id="Milk">
                                        </div>
                                        <div class="col-12 col-sm-3 col-lg-3 text-center py-4">
                                            <img src="@assetsFinder.path("images/Ingredients/steamed-milk.svg")"
                                            alt="Steamed Milk" class="drag-drop" id="Steamed Milk">
                                        </div>
                                        <div class="col-12 col-sm-3 col-lg-3 text-center py-4">
                                            <img src="@assetsFinder.path("images/Ingredients/foamed-milk.svg")"
                                            alt="Foamed Milk" class="drag-drop" id="Foamed Milk">
                                        </div>
                                        <div class="col-12 col-sm-3 col-lg-3 text-center py-4">
                                            <img src="@assetsFinder.path("images/Ingredients/cream.svg")"
                                            alt="Cream" class="drag-drop" id="Cream">
                                        </div>
                                        <div class="col-12 col-sm-3 col-lg-3 text-center py-4">
                                            <img src="@assetsFinder.path("images/Ingredients/sugar.svg")"
                                            alt="Sugar" class="drag-drop" id="Sugar">
                                        </div>
                                        <div class="col-12 col-sm-3 col-lg-3 text-center py-4">
                                            <img src="@assetsFinder.path("images/Ingredients/sweet.svg")"
                                            alt="Sweet" class="drag-drop" id="Sweet">
                                        </div>
                                        <div class="col-12 col-sm-3 col-lg-3 text-center py-4">
                                            <img src="@assetsFinder.path("images/Ingredients/panela.svg")"
                                            alt="Panela" class="drag-drop" id="Panela">
                                        </div>
                                        <div class="col-12 col-sm-3 col-lg-3 text-center py-4">
                                            <img src="@assetsFinder.path("images/Ingredients/whiskey.svg")"
                                            alt="Whiskey" class="drag-drop" id="Whiskey">
                                        </div>
                                        <div class="col-12 col-sm-3 col-lg-3 text-center py-4">
                                            <img src="@assetsFinder.path("images/Ingredients/chocolate.svg")"
                                            alt="Chocolate" class="drag-drop" id="Chocolate">
                                        </div>
                                        <div class="col-12col-sm-3 col-lg-3 text-center py-4">
                                            <img src="@assetsFinder.path("images/Ingredients/coffee-big.svg")"
                                            alt="Coffee Big" class="drag-drop" id="Big Coffee">
                                        </div>
                                        <div class="col-12 col-sm-3 col-lg-3 text-center py-4">
                                            <img src="@assetsFinder.path("images/Ingredients/espresso-big.svg")"
                                            alt="Espresso Big" class="drag-drop" id="Double Espresso">
                                        </div>
                                        <div class="col-12 col-sm-3 col-lg-3 text-center py-4">
                                            <img src="@assetsFinder.path("images/Ingredients/hot-water.svg")"
                                            alt="Hot Water" class="drag-drop" id="Hot Water">
                                        </div>
                                        <div class="col-12 col-sm-3 col-lg-3 text-center py-4">
                                            <img src="@assetsFinder.path("images/Ingredients/ice-cream.svg")"
                                            alt="Ice Cream" class="drag-drop" id="Ice Cream">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-2 px-3 text-center">
                        <div class="text-end">
                            <span class="tooltipCoffee" data-toggle="tooltip" data-placement="left" data-html="true" title="<b><em>!ATTENTION!</em> YOU WON'T RECEIVE AS MANY POINTS IF YOU USE A TIP!</b>">
                                <a type="button" class="btn" data-toggle="modal" data-target="#exampleModalCenter" onclick="">
                                    <img src="@assetsFinder.path("images/tipsIcon.svg")" alt="help">
                                </a>
                            </span>
                        </div>
                        <div class="justify-content-center">

                                <!-- Modal Tip-->
                            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalCenterTitle">Hier ist dein Tipp</h5>
                                            <button type="button" class="close btn btn-danger tipButton" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">x</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="d-flex justify-content-center m-4 p-4">
                                                <div class="scorebox">
                                                    <div class="card-group">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn closebutton-bottom" data-dismiss="modal">
                                                Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="dropzone" id="cup"><img
                        src="@assetsFinder.path("images/Ingredients/cup.svg")"
                        class="img-fluid p-5" alt="coffe-mug" id="coffee-mug"></div>
                        <div class="">
                            <button type="button" class="login_btn mt-3 mb-5 p-4" id="submitGame" onclick="submitGame()">
                                submit
                            </button>
                            <button type="button" class="login_btn mt-3 mb-5 p-4" id="nextGame" onclick="redirectToMemoryLvl2()" style="display: none" >
                                Go to the next lvl
                            </button>
                        </div>
                    </div>

                    </div>
                </div>
            </section>
        </div>
    <script type="text/javascript" src="@assetsFinder.path("javascripts/reusedFunctions.js")"></script>
    <script type="text/javascript" src="@assetsFinder.path("javascripts/customers.js")"></script>
    <script type="text/javascript" src="@assetsFinder.path("javascripts/coffees.js")"></script>
    <script type="text/javascript" src="@assetsFinder.path("javascripts/game_mechanic.js")"></script>
    <script type="text/javascript" src="@assetsFinder.path("javascripts/reusedFunctions.js")"></script>
    <script type="text/javascript" src="@assetsFinder.path("javascripts/dictionary.js")"></script>


    <script type="text/javascript" src="@assetsFinder.path("javascripts/level2_g.js")"></script>



}
