@import data.ScoreEntry
@import java.util
@(page: String)(highScoreList: util.List[ScoreEntry])(implicit assetsFinder: AssetsFinder)

@navbar("HighScore") {
    <div class="d-flex justify-content-center m-4 p-4">
        <div class="scorebox col-md-6">
            <h1 class="highscoreHeader">High Scores</h1>
            <div class="list">
                @* hier generieren wir mit Scala HighscoreListe*@
                @for(entry <- highScoreList) {
                    <div class="listrow">
                        <span class="nameSpan">@entry.getUsername</span>
                        <span class="pointSpan">@entry.getScore</span>
                    </div>
                }
            </div>
            @* data-key=@"übergebenes Objekt" s div einfuegen*@
        </div>
    </div>
    <script type="text/javascript" src="@assetsFinder.path("javascripts/highscore.js")"></script>
}