@(assetsFinder: AssetsFinder)

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link href="@assetsFinder.path("stylesheets/bootstrap.min.css")" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <script src="@assetsFinder.path("javascripts/bootstrap.min.js")" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="@assetsFinder.path("stylesheets/style.css")">
    </head>
    <body>
            <!--menu bar-->
            <!--navbar dark sets text light bc of dark backround-->
        <nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
            <div class="container-fluid">
                <a class="navbar-brand text-uppercase" href="/home"><img src="@assetsFinder.path("images/barista-06.png")" alt="barista logo" width="92.7" height="38.2" class="icon-menu"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav text-uppercase">
                        <a class="nav-link active" aria-current="page" href="/home">Home</a>
                        <a class="nav-link" href="/highscore">Highscores</a>
                        <a class="nav-link" href="/profile">Profile</a>
                        <a class="nav-link disabled">Dictionary</a>
                        <a class="nav-link disabled">Chat</a>
                    </div>
                </div>
            </div>
        </nav>

        <div class="mainbackround" style='background-image: url("@assetsFinder.path("images/Industrial-01.jpg")")'>

        </div>

        <script type="text/javascript" src="@assetsFinder.path("javascripts/functions.js")"></script>
    </body>
</html>