@(page: String, money: String)(implicit assetsFinder: AssetsFinder)

@navbar("Home", money) {
    <div class="mainbackround">
        <object type="image/svg+xml" data="@assetsFinder.path("../../public/images/bg.svg")" class="img-bg"></object>
    </div>
        <!--Modal-->
    <div class="modal fade" id="ModalLearnCoffees" tabindex="-1" aria-labelledby="ModalLearnCoffees" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title text-center" id="ModalLearnCoffeesLabel">
                        Welcome to barista!
                        <p class="subtitleLearn fs-6 text-center">
                            Your learning Game for becoming a professional Barista.</p>
                    </h1>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="learnText">Before we get started, it is important to first get to know the Coffees.</p>
                    <p class="learnText">
                        In our Dictionary we prepared a summary of what Coffees you'll have to get to know, which ingredients they contain and what makes them so special!</p>
                    <p class="learnText">Curious? Have a look and start your journey by learning all about Coffees.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn closebutton-bottom" data-dismiss="modal">
                        I already know everything</button>
                    <button type="button" class="btnDict p-1" onclick="location.href = '@routes.HomeController.dictionary'">
                        Learn About Coffees</button>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="@assetsFinder.path("javascripts/main.js")"></script>

}
