@(page: String, money: String, level: Integer, ranking: Integer)(content: Html)(implicit assetsFinder: AssetsFinder)
@import java.math.BigInteger; var scalaMoney = money;

<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" type="image/png" href="@assetsFinder.path("images/coffee-favicon.png")">
        <title>@page </title>
        <link rel="stylesheet" type="text/css" href="@assetsFinder.path("stylesheets/bootstrap-4.6.1/bootstrap.min.css")">
        btn-check@assetsFinder.path("stylesheets/style.css")">
        <script type="text/javascript" src="@assetsFinder.path("javascripts/jquery-3.5.1/jquery.slim.min.js")"></script>
        <script type="text/javascript" src="@assetsFinder.path("javascripts/bootstrap-4.6.1/bootstrap.bundle.min.js")"></script>
        <script type="text/javascript" src="@assetsFinder.path("javascripts/navbar.js")"></script>
        <!-- Interact js for drag and drop -->
        <script type="text/javascript" src="@assetsFinder.path("javascripts/interact-1.10.11/interact.min.js")"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                @*Icon*@
                <a class="navbar-brand" href="@routes.HomeController.main">
                    <img src="@assetsFinder.path("images/barista-06.png")" alt="barista logo" width="92.7" height="38.2" class="icon-menu d-none d-sm-block">
                </a>
                @*List Elements for Navigation*@
                @*The current page is marked as active and games are available based on current level of user from database*@
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item @("active".when(page == "Home"))">
                        <a class="nav-link" href="@routes.HomeController.main">Home</a>
                    </li>
                    <li class="nav-item @("active".when(page == "HighScore"))">
                        <a class="nav-link" href="@routes.SocialPageController.highscore">Highscore</a>
                    </li>
                    <li class="nav-item @("active".when(page == "Profile"))">
                        <a class="nav-link" href="@routes.UserController.profile">Profile</a>
                    </li>
                    <li class="nav-item @("active".when(page == "GameOne"))">
                        <a class="nav-link" href="@routes.GameController.defaultGame">Level 1</a>
                    </li>
                    <li class="nav-item dropdown @("active".when(page == "GameTwo" || page == "GameTwoMemory"))">
                        <a class="nav-link dropdown-toggle @("disabled".when(level == 1))" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                            Level 2
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item @("active".when(page == "GameTwo")) @("disabled".when(level == 1))" href="@routes.GameController.gameLevelTwo">
                                <nobr>Level 2</nobr></a>
                            <a class="dropdown-item @("active".when(page == "GameTwoMemory")) @("disabled".when(level == 1))" href="@routes.GameController.gameLevelTwoMemory">
                                <nobr>Level 2 Memory</nobr></a>
                        </div>
                    </li>
                    <li class="nav-item dropdown @("active".when(page == "GameLevelThree" || page == "GameThreeMemory" || page == "GameThreeCalculating"))">
                        <a class="nav-link dropdown-toggle @("disabled".when(level == 1 || level == 2))" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                            Level 3
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item @("active".when(page == "GameLevelThree")) @("disabled".when(level == 1 || level == 2))" href="@routes.GameController.gameLevelThree">
                                <nobr>Level 3 </nobr></a>
                            <a class="dropdown-item @("active".when(page == "GameThreeMemory")) @("disabled".when(level == 1 || level == 2))" href="@routes.GameController.gameLevelThreeMemory">
                                <nobr>Level 3 Memory</nobr></a>
                            <a class="dropdown-item @("active".when(page == "GameThreeCalculating")) @("disabled".when(level == 1 || level == 2))" href="@routes.GameController.gameLevelThreeCalculating">
                                <nobr>Level 3 Calculating</nobr></a>
                        </div>
                    </li>
                    <li class="nav-item @("active".when(page == "Dictionary"))">
                        <a class="nav-link" href="@routes.HomeController.dictionary">Dictionary</a>
                    </li>
                    <li class="nav-item @("active".when(page == "Socials"))">
                        <a class="nav-link" href="@routes.HomeController.socials">Socials</a>
                    </li>
                </ul>
                @*end of the navbar with coffee beans, money and logout*@
                <ul class="navbar-nav ms-auto align-items-center">
                    <li class="nav-item">
                        <img src="@assetsFinder.path("/images/coffee-bean-icon.png")" alt="coffee beans funds" width="20" height="20" id="coffee-bean-money-icon">
                    </li>
                    <li class="nav-item">
                        <p id="money" class="text-white pointsNavbar my-0">@scalaMoney</p>
                    </li>
                    <li class="nav-item">
                        <p class="text-white pl-1 d-none" id="plusForMoneyCounter">
                            + <span class="d-none" id="money-counter"> 0 </span>
                        </p>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="\logout" onclick="clearSessionStorage()">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
        @content
    </body>
</html>
