@(page: String, money: String, level: Integer, ranking: Integer, user: data.User, friends: List[data.User])(implicit assetsFinder: AssetsFinder)

@navbar("Profile", money, level, ranking) {
    <div class="container my-5 d-flex justify-content-center">
        <div class="card-profile h-100">
            <div class="image d-flex flex-column justify-content-center align-items-center mt-5">
                    <!--trigger modal with button behind image-->
                <button type="button" class="btn btn-backround" data-toggle="modal"  data-target="#myModal" id="modal-btn" onclick="openModal()">
                    <img src="@user.getProfilePic" alt="avatar" height="130" width="130" id="profileimage"/>
                </button>
                <span class="name my-3" id="name">@user.getUsername</span>
                <div class="level font-weight-bold" id="level">
                    <p class="h2 mb-3">@user.getReward </p>
                </div>
                <div class="highscore">Level: @level</div>
                <div id="points" class="points mt-3">@user.getPoints</div>
                <div id="highscore" class="highscore mb-3">Highscore</div>

            <div class="d-flex mt-3 mb-3">
                <input class="form-control profilename rounded text-center mr-2 d-none" type="text" value="@user.getUsername" id="profilename" readonly>
                <button class="btn btn-secondary rounded-pill px-3" id="edit_button" onclick="editUsername()">
                    Edit Username</button><br>
                <button class="btn btn-primary rounded-pill px-3 ml-2 d-none" id="cancel" onclick="cancelEdit()">
                    Cancel</button>
            </div>
            <div class="text-white" id="name-error"></div> <!-- UNDEFINED appears when username is changed with success -->
            <div class="text m-3">
                <span>
                    @user.getUsername started the practice on
                </span>
            </div>
            <div class="mb-5 px-2 py-1 rounded date">
                <span class="join">@user.getTimestamp</span>
            </div>
        </div>
    </div>

    </div>
        <!--    modal-->

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Choose your Avatar</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="closeModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="row modal-body justify-content-center align-items-center">
                    <div class="col-12 col-sm-3 col-lg-3 text-center form-check form-check-inline">
                        <label class="form-check-label" for="inlineRadio1">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                            value="option1">
                            <img src="@assetsFinder.path("images/avatar.png")"
                            alt="avatar" height="102.4" width="102.4" class="avatar-images" id="avatar1">
                        </label>
                    </div>
                    <div class="col-12 col-sm-3 col-lg-3 text-center form-check form-check-inline">
                        <label class="form-check-label" for="inlineRadio2">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                            value="option2">
                            <img src="@assetsFinder.path("images/waitress.png")" alt="waitress"
                            height="102.4" width="102.4" class="avatar-images" id="avatar2">
                        </label>
                    </div>
                    <div class="col-12 col-sm-3 col-lg-3 text-center form-check form-check-inline">
                        <label class="form-check-label" for="inlineRadio3">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3"
                            value="option3">
                            <img src="@assetsFinder.path("images/waiter.png")" alt="avatar"
                            height="102.4" width="102.4" class="avatar-images" id="avatar3">
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary rounded-pill px-3" data-dismiss="modal" onclick="closeModal()">
                        Close
                    </button>
                    <button type="button" class="btn btn-secondary rounded-pill px-3" onclick="chooseAvatar()" id="avatarchooser">Save
                        changes
                    </button>
                    <p id="error-message"></p>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="@assetsFinder.path("javascripts/profile.js")"></script>
}
    <!--template: https://freefrontend.com/bootstrap-profiles/-->
