@(assetsFinder: AssetsFinder)

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Profile</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="@assetsFinder.path("stylesheets/style.css")">
    </head>
    <body>
            <!--menu-->
        <nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
            <div class="container-fluid">
                <a class="navbar-brand text-uppercase" href="/home"><img src="@assetsFinder.path("/images/barista-06.png")" alt="barista logo"
                width="92.7" height="38.2" class="icon-menu"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav text-uppercase">
                        <a class="nav-link" aria-current="page" href="/home">Home</a>
                        <a class="nav-link" href="/highscore">Highscores</a>
                        <a class="nav-link active" href="/profile">Profile</a>
                        <a class="nav-link" href="/defaultGame">Game</a>
                        <a class="nav-link" href="/store">Store</a>
                        <a class="nav-link disabled">Dictionary</a>
                        <a class="nav-link disabled">Chat</a>
                    </div>
                </div>
            </div>
        </nav>
            <!--template: https://freefrontend.com/bootstrap-profiles/-->
        <div class="container mt-4 mb-4 p-5 d-flex justify-content-center">
            <div class="card p-1">
                <div class="image d-flex flex-column justify-content-center align-items-center m-4">
                        <!--            trigger modal with button behind image-->
                    <button type="button" class="btn btn-backround" id="edit_profilepic" data-toggle="modal"
                    data-target="#myModal" id="modal-btn" onclick="openModal()"><img
                    src="@assetsFinder.path("images/avatar.png")"
                    alt="avatar" height="130" width="130" id="profileimage"/></button>
                    <span class="name mt-3">Katrin Stötter</span>

                        <!--            <div type="button" onclick="editUsername()">-->
                    <input class="profilename text-center" type="text" value="katrinstizzle" id="profilename" readonly>
                        <!--            </div>-->
                    <div class="d-flex flex-row justify-content-center align-items-center gap-2 mb-3">
                        <div id="level" class="level">Baristagod</div>
                        <span><i class="fa fa-copy"></i></span></div>
                    <div class="d-flex flex-row justify-content-center align-items-center mt-3">
                        <div id="points" class="points">1069</div>
                    </div>
                    <div class="d-flex flex-row justify-content-center align-items-center mb-4">
                        <div id="highscore" class="highscore">Highscore</div>
                    </div>
                    <div class=" d-flex mt-2 mb-3">
                        <button class="edit_button" id="edit_button" onclick="editUsername()">Edit Username</button>
                    </div>
                    <div class="text m-3"><span>Katrin Stoetter will work at Fred Café in Wuerzburg starting December.<br><br>Current Occupation: Student.</span>
                    </div>
                        <!--            <div class="gap-3 mt-3 icons d-flex flex-row justify-content-center align-items-center"> <span><i class="fa fa-twitter">hi</i></span> <span><i class="fa fa-facebook-f"></i></span> <span><i class="fa fa-instagram"></i></span> <span><i class="fa fa-linkedin"></i></span> </div>-->
                    <div class=" px-2 rounded date"><span class="join">Joined May,2021</span></div>
                </div>
            </div>
                <!--    modal-->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
            aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Choose your Avatar</h5>
                            <button type="button" class="close btn btn-danger" data-dismiss="modal" aria-label="Close"
                            onclick="closeModal()">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="row modal-body justify-content-center align-items-center">
                            <div class="col-12 col-sm-3 col-lg-3 text-center form-check form-check-inline">
                                <label class="form-check-label" for="inlineRadio1">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                                    value="option1">
                                    <img src="https://cdn-icons-png.flaticon.com/512/3462/3462124.png"
                                    alt="waitress" height="102.4" width="102.4" class="avatar-images" id="avatar1">
                                </label>
                            </div>
                            <div class="col-12 col-sm-3 col-lg-3 text-center form-check form-check-inline">
                                <label class="form-check-label" for="inlineRadio2">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                                    value="option2">
                                    <img src="https://cdn-icons-png.flaticon.com/512/2317/2317940.png" alt="waitress"
                                    height="102.4" width="102.4" class="avatar-images" id="avatar2">
                                </label>
                            </div>
                            <div class="col-12 col-sm-3 col-lg-3 text-center form-check form-check-inline">
                                <label class="form-check-label" for="inlineRadio3">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3"
                                    value="option3">
                                    <img src="https://cdn-icons-png.flaticon.com/512/2007/2007804.png" alt="avatar"
                                    height="102.4" width="102.4" class="avatar-images" id="avatar3">
                                </label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn closebutton-bottom" data-dismiss="modal" onclick="closeModal()">Close
                            </button>
                            <button type="button" class="btn savebutton" onclick="chooseAvatar()" id="avatarchooser">Save
                                changes
                            </button>
                            <p id="error-message"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


            <!--<div class="modal fade" id="changeAvatar" tabindex="-1" role="dialog" aria-labelledby="changeAvatar1" aria-hidden="true">-->
            <!--    <div class="modal-dialog modal-dialog-centered" role="document">-->
            <!--        <div class="modal-content">-->
            <!--            <div class="modal-header">-->
            <!--                <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>-->
            <!--                <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
            <!--                    <span aria-hidden="true">&times;</span>-->
            <!--                </button>-->
            <!--            </div>-->
            <!--            <div class="modal-body">-->
            <!--                ...-->
            <!--            </div>-->
            <!--            <div class="modal-footer">-->
            <!--                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
            <!--                <button type="button" class="btn btn-primary">Save changes</button>-->
            <!--            </div>-->
            <!--        </div>-->
            <!--    </div>-->
            <!--</div>-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
        <script type="text/javascript" src="@assetsFinder.path("javascripts/functions.js")"></script>
    </body>
</html>
