@(page: String, money : String, level: Integer, ranking: Integer)(implicit assetsFinder: AssetsFinder)

@navbar("Store", money, level, ranking) {
    <div class="container">
        <h4>Coffee Machines</h4>
        <div class="row justify-content-md-center">
            <div class="col col-lg-2">
                <button type="button" class="btn btn-backround" data-toggle="modal"
                data-target="#manual-filter-modal" id="modal-btn" onclick="openManFilModal()"><img
                src="@assetsFinder.path("images/Store/manual-filter-coffee.png")"
                alt="manual filter coffee" height="130" width="130" class="coffeemachine"/></button>
            </div>
            <div class="col col-lg-2">
                <button type="button" class="btn btn-backround" data-toggle="modal"
                data-target="#coffeeModal2" id="modal-btn" onclick="openAutFilModal()"><img
                src="@assetsFinder.path("images/Store/automatic-filter-coffee.png")"
                alt="manual filter coffee" height="130" width="130" class="coffeemachine"/></button>
            </div>
            <div class="col col-lg-2">
                <button type="button" class="btn btn-backround" data-toggle="modal"
                data-target="#coffeeModal3" id="modal-btn" onclick="openItalianModal()"><img
                src="@assetsFinder.path("images/Store/italian-coffee.png")"
                alt="manual filter coffee" height="130" width="130" class="coffeemachine"/></button>
            </div>
            <div class="col col-lg-2">
                <button type="button" class="btn btn-backround" data-toggle="modal"
                data-target="#coffeeModal4" id="modal-btn" onclick="openSiebModal()"><img
                src="@assetsFinder.path("images/Store/siebträger.png")"
                alt="manual filter coffee" height="130" width="130" class="coffeemachine"/></button>
            </div>
            <div class="col col-lg-2">
                <button type="button" class="btn btn-backround" data-toggle="modal"
                data-target="#coffeeModal5" id="modal-btn" onclick="openAutModal()"><img
                src="@assetsFinder.path("images/Store/automatic-coffee.png")"
                alt="manual filter coffee" height="130" width="130" class="coffeemachine"/></button>
            </div>
        </div>
    </div>

        <!--manual filter modal-->
    <div class="modal fade" id="manual-filter-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Manual Filter Coffee Machine</h5>
                    <button type="button" class="close btn btn-danger" data-dismiss="modal" aria-label="Close"
                    onclick="closeManFilModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="row modal-body justify-content-center align-items-center">
                    <button type="button" class="btn btn-backround" disabled><img
                    src="@assetsFinder.path("images/Store/manual-filter-coffee.png")"
                    alt="manual filter coffee" height="130" width="130" class="coffeemachine"/></button>
                    <p>Just a normal coffeemachine. You even have to pour the hot water in by yourself.</p>
                    <p>Be careful not to burn yourself</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn closebutton-bottom" data-dismiss="modal" onclick="closeManFilModal()">
                        Close
                    </button>
                    <button type="button" class="btn savebutton" onclick="" id="coffeebuyer">Buy for 100 coffeebeans
                    </button>
                    <p id="error-message"></p>
                </div>
            </div>
        </div>
    </div>


        <!--automatic filter modal-->
    <div class="modal fade" id="automatic-filter-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Automatic Filter Coffee Machine</h5>
                    <button type="button" class="close btn btn-danger" data-dismiss="modal" aria-label="Close"
                    onclick="closeAutFilModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="row modal-body justify-content-center align-items-center">
                    <button type="button" class="btn btn-backround" disabled><img
                    src="@assetsFinder.path("images/Store/automatic-filter-coffee.png")"
                    alt="manual filter coffee" height="130" width="130" class="coffeemachine"/></button>
                    <p>Still a normal coffee machine. At least you don't have to pour the hot water in by yourself.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn closebutton-bottom" data-dismiss="modal" onclick="closeAutFilModal()">
                        Close
                    </button>
                    <button type="button" class="btn savebutton" onclick="" id="coffeebuyer">Buy for 200 coffeebeans
                    </button>
                    <p id="error-message"></p>
                </div>
            </div>
        </div>
    </div>


        <!--italian modal-->
    <div class="modal fade" id="italian-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Italian Coffee Machine</h5>
                    <button type="button" class="close btn btn-danger" data-dismiss="modal" aria-label="Close"
                    onclick="closeItalianModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="row modal-body justify-content-center align-items-center">
                    <button type="button" class="btn btn-backround" disabled><img
                    src="@assetsFinder.path("images/Store/italian-coffee.png")"
                    alt="italian coffee" height="130" width="130" class="coffeemachine"/></button>
                    <p>Now it is getting fancy. A real Italian knows how to use their coffee machine.</p>
                    <p>Do you?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn closebutton-bottom" data-dismiss="modal" onclick="closeItalianModal()">
                        Close
                    </button>
                    <button type="button" class="btn savebutton" onclick="" id="coffeebuyer">Buy for 300 coffeebeans
                    </button>
                    <p id="error-message"></p>
                </div>
            </div>
        </div>
    </div>

        <!--siebträger modal-->
    <div class="modal fade" id="sieb-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Portafilter Coffee Machine</h5>
                    <button type="button" class="close btn btn-danger" data-dismiss="modal" aria-label="Close"
                    onclick="closeSiebModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="row modal-body justify-content-center align-items-center">
                    <button type="button" class="btn btn-backround" disabled><img
                    src="@assetsFinder.path("images/Store/siebträger.png")"
                    alt="siebträger" height="130" width="130" class="coffeemachine"/></button>
                    <p>This is a real upgrade. You don't have to pour anymore water at all and the coffee tastes amazing</p>
                    <p>Enjoy!</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn closebutton-bottom" data-dismiss="modal" onclick="closeSiebModal()">
                        Close
                    </button>
                    <button type="button" class="btn savebutton" onclick="" id="coffeebuyer">Buy for 400 coffeebeans
                    </button>
                    <p id="error-message"></p>
                </div>
            </div>
        </div>
    </div>

        <!--automatic modal-->
    <div class="modal fade" id="automatic-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Automatic Coffee Machine</h5>
                    <button type="button" class="close btn btn-danger" data-dismiss="modal" aria-label="Close"
                    onclick="closeAutModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="row modal-body justify-content-center align-items-center">
                    <button type="button" class="btn btn-backround" disabled><img
                    src="@assetsFinder.path("images/Store/automatic-coffee.png")"
                    alt="automatic coffee" height="130" width="130" class="coffeemachine"/></button>
                    <p>You don't have to do anything anymore besides pressing buttons.</p>
                    <p>Don't get lazy!</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn closebutton-bottom" data-dismiss="modal" onclick="closeAutModal()">
                        Close
                    </button>
                    <button type="button" class="btn savebutton" onclick="" id="coffeebuyer">Buy for 500 coffeebeans
                    </button>
                    <p id="error-message"></p>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="@assetsFinder.path("javascripts/store.js")"></script>

}



